*{
    padding: 0;
    margin: 0;
   
}
/*Header*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top ,rgba(252, 139, 63, 0.253) ,rgba(0, 0, 0, 0)) ,url(/images/kids1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
   

}
/* Menu Bar*/
.titlebar{
    background-color: #f35247;
    position: fixed;
    width: 100%;
    z-index: 3;
    
    
    
    

    
}
/* Kidszone school LOGO*/
#school-logo  {
    width: 60px;
    height: 60px;
    position: absolute;
    transform: translate(-60%,-10%);
    top: 10%;
    left: 50%;
    background-color: white;  
    border-radius: 100px;
    padding-left:30px;
    padding-right: 30px;
    cursor: pointer;

    /* Border Line */

    border: 10px solid  #f35247;
    border-color: #f35247;
    z-index:5;
  
      /*Animation*/
    transition:0.3s ;

    
    
}

#school-logo a{
    
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    position: relative;
    left: -10%;
    top: 20%  

}

#school-logo:hover{
   position:absolute;
    background-color:wheat;
    cursor: pointer;
    scale: 110%;
   
    
   
}

nav{
    display: flex;
    justify-content: space-between ;
    align-items:end;
}

.header ul :hover {
    position: relative;
    background-color: #c92f24;
    cursor: pointer;
    font-size: 110%;
    transition: 0.2s;

    
    
}
.header ul li  :hover{
   transition: -0.2s;
}
.nav-links-first{
    text-align: left;
}
.nav-links-first hr{
   display: inline;
}
.nav-links-first ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
   
} 
.nav-links-first ul li a{
    color:#fff;
    text-decoration: none;
    font: size 13px; 
    font-family: Arial, Helvetica, sans-serif;
}


.nav-links-second{ 
    text-align: right;
}
.nav-links-second hr{
    display: inline;
 
 }
.nav-links-second ul li{
    display: inline-block;
    list-style: none;
    padding:8px 12px;
    position: relative;
} 
.nav-links-second ul li a{
    color:#fff;
    text-decoration: none;
    font: size 13px; 
    font-family: Arial, Helvetica, sans-serif;
}








.text-box{
    color: #fff;
   width: 90%;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   padding-bottom: 100px;
   

    

   
}
.text-box h1{
    font-size: 50px;
}
.text-box p{

}
.link-sub{
  position: relative;
  top: 30px;
  text-decoration: none;
}
.link-sub:hover{


}

/*Main content*/
.main-content{
    height: auto;
    padding-top: 20px;
    padding-bottom: 120px;
    background-color: #c5bdbd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    
  
   
}
.tile-images{
    top: 50px;
    position: relative;
    
}
.tile-images img{
    border-radius: 8%;
    display: inline-block;
    width: 200px;
    height: 200px; 
    background-size: cover;
    background-position: center;
    transition: 1s;
    cursor: pointer;
}
.overlay{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8%;
    transition: 0.5s;
}
.overlay:hover{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8%;
    background-color: #136bee83;
}

.overlay h1 {
 
    text-align:center;
    position: relative;
    top: -3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;

}
.overlay:hover h1{
    width: 100%;
    height: 100%;
    text-align:center;
    font-size: 30px;
    top: -45%;
    transition: 0.5s;
   
 
}
/*Conten Info*/
.content-info{
    height: auto;
    position: relative;
    background-color: rgb(248, 207, 168);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 2rem;
    
    
   
    
    
}
.info-tile{
    position: relative;
    cursor: pointer;
    flex-shrink: 1;
    margin: 10px;
    
    
    


}
.text-overlay{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;

   
    

}
.text-overlay h1{
    text-align:center;
    position: relative;
    top: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   
   

}
.text-overlay p{
  
    text-align:center;
    position: relative;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.info-tile img{
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 5%;
    width: 100%;
    object-fit:cover;

    
   
}
.info-tile:hover img{
    box-shadow: 0 0 25px 0 rgba(92, 91, 91, 0.795);
}

/*--Health and Safety--*/
.health-safety{
    height: auto;
    display: flex;
    padding-top: 120px;
    padding-bottom: 50px;
    padding-left: 20px;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    position: relative;


    
   
}

.health-info img{
    
    max-width: 600px;
    height: 500px;
    border-radius: 5%;
    width: 100%;
    object-fit:cover;
}
.health-text h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:35px;
  color: #262b57;
}
.health-text p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    font-size: 25px;
}
.bevel-button{
    margin-top: 20px;
    border: solid #c92f24 4px;
    text-align: center; 
    color: #c92f24;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%; 
    border-radius: 12px;
    cursor: pointer;  
    
}

.bevel-button:hover{
    transition:all 0.5s;
    background-color: #c92f24;
    color:#fff ;
    padding: 20px;
}

/*----Last-Info---*/
.last-info{
    height: auto;
    background-color: rgb(0, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    
}
.bevel-box{
    height: 500px;
    width: 500px;
    padding: 50px;
    background-color: aliceblue;
    border-radius: 12px;
    z-index: 2;
}
.bevel-box h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:35px;
    color: #262b57;
}
.bevel-box p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    font-size: 25px;
}
.image-box{
    z-index: 2;
}
.image-box img{
    max-width:600px;
    max-height: 600px;
    border-radius: 5%;
    height: 100%;
    width: 100%;
    object-fit:cover;
   
}
.bar-box{
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 1;
    background-color: rgb(0, 68, 255);
    justify-content: end;
    bottom:-30px;
}
.sub1{
    font-weight:bolder;
    margin-top: 60px;
}

/*Footer*/
.footer{
    height: auto;
    background-color: #151e36;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 10px;
    padding-bottom: 100px;
    position: relative;
}
.top-footer{
    background-color: rgb(190, 191, 192);
}
.top-footer img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

/*Down-Footer*/
.down-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    gap: 1rem;
    justify-content:space-between;
    width: 100%;
    padding: 20px;
   
}
.down-footer ul li{
    list-style: none;
    
}
.down-footer h1{
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.down-footer ul li a {
    text-decoration: none;
    color: #fff;
   font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}
hr{
    width: 90%;
    transform: skewX(30deg);
}
.footer-end{
    font-size: 20px;
}




/*---------About HTML------*/

.about-sub ul {
    
    list-style:none;
    
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;

    
    
    
}
.about-sub ul li{
    position: relative;
    padding-left: 20px;
    background-color: aliceblue;
    border-radius: 3%;
    margin-bottom: 30px;
    cursor: pointer;
}
.about-sub ul li::before{

        content: " ";    
        width: 6px;
        height: 80%;
        background-color: rgb(5, 2, 32);
        margin-right: 5px;
        position: absolute;
        left: 0;
        top: 20px;
        display: inline-block;
      
}


.about-sub ul li:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    
    
}
.about-sub ul li:hover{
    padding: 30px;
    transition: 0.5s;
}

.about-header{
    background-image: url(/images/background2.jpg);
    background-position: center;
    background-size: cover;
}


/*-----------Contact HTML--------*/
.contact-header{
    background-image: url(/images/background3.jpg);
    background-position: center;
    background-size: cover;

}

.contact-sub{
    display: block;
    position: relative;
    
}
.map{
    display: flex;
    justify-content: center;
    width:100% ;
    
    
}
.map iframe{
    border-radius: 5%;
    width:70vw ;
    
}
.map iframe:hover{
    transform: scale(1.1) ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;

}
.container-pad{
    display: flex;
    justify-content: center;
    column-gap: 15rem;
    flex-wrap: wrap;

}
.pad{
    
    width: 400px;
    height: 300px;
    background-color: rgb(255, 236, 249);
    border: solid  rgb(252, 156, 221) 3px;
    margin-top: 50px;
    border-radius: 5%;
    position: relative;
}
.pad:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.fa-location-dot{
    position: absolute;
    top: 15px;
    cursor: pointer;
    left: -30px;
    color: rgb(255, 75, 105);
}
.location{
    position: absolute;
    bottom: 200px;
    left: 70px;
    cursor: pointer;
}
.location h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#252525;
}

.pad:hover .fa-location-crosshairs {
    color: #be3232;
}
.pad:hover .fa-address-book{
    color: #be3232;
}
.second-location{
    bottom: 120px;
}
.fa-location-crosshairs{
    position: absolute;
    top: 20px;
    left: 10px;
    color: #252525;
}
.location h1:hover {
    color: rgb(221, 52, 52);

}
.fa-address-book{
    position: absolute;
    top: 20px;
    left: 10px;
    color: #252525;
}
.phone{
    position: absolute;
    bottom: 200px;
    left: 100px;
    cursor: pointer;
}
.second-phone{
    bottom: 120px;
}
.fa-phone{
    position: absolute;
    top: 15px;
    cursor: pointer;
    left: -35px;
    color: rgb(58, 21, 27);
}
.phone h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#252525;
    
}

/* --------#####Serivices.HTML#####---------*/


.Services{
    background-image: url(/images/Hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    min-height: 60vh;
}
.sub-text{
    top: 200px;
    position: absolute;
}
/*---Facilities---*/
.facilities .head{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f06c2f;
}
.facilities .head h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 40PX;
 color: #1a1a1a;
}
.sub-facilities{
    background-image: url(/images/icons-gray-bg.svg);
}
.sub-facilities .image {

    display: flex;
    justify-content: center;
}
.sub-facilities .image img{
    height: 550px;
    width: 800px;
    width: 80%;
    margin-top: 40px;
    border-radius: 5%;
    margin-bottom: 40px;
    object-fit: cover;
   
}
.container-image{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.edit-image img{
   width: 500px;
   height: 700px;
   object-fit: cover;
   border-radius: 5%;
}


/*Health Section*/
.health-section{
    background-image: url(/images/icons-gray-bg.svg);
   
}
.health-section .head{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f06c2f;
    margin-top: 60px;

}
.health-section .head h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 40PX;
 color: #1a1a1a;
}
.health-edit{
    position: relative;
    
    
  
}
.health-section h3{
    background-color: #fa9262;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #141313;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2);

}
.health-edit ol li{
    background-color: #e9e2fd;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 30px;
    border: solid #4134fd 2px;
    position: relative;
    left: 15%;
    width: 60%;
    
 

    
}
.health-edit ol li:hover{
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
    color: #151e36;
    transform: scale(1.01);
}


/*How to Enroll*/
.enroll{
    background-image: url(/images/icons-gray-bg.svg);
}
.enroll .head{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f06c2f;
    margin-top: 60px;
    

}
.enroll .head h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 40PX;
 color: #1a1a1a;

}
.enroll-container ol li{
    background-color: #fad0d0;
    border: solid #fd3470 2px;
    margin-bottom: 30px;
}

.enroll-container h2{
    background-color: #fa9262;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #141313;
   
   
}
.enroll-container p{
    background-color: #e9e2fd;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight:800;

}

/*Goals*/
.goal-main .head h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40PX;
    color: #1a1a1a;
   
   }
   .goal-main .head{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f06c2f;
    margin-top: 60px;
    margin-bottom: 30px;
    

}
.goals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.goals-edit{
    width: 500px;
   
}


/*---CURRICULUM----*/
.curriculum-main .head h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40PX;
    color: #1a1a1a;
   
   }
   .curriculum-main .head{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #f06c2f;
    margin-top: 60px;
    margin-bottom: 30px;
    

}